server:
  port: ${PORT:8086}

spring:
  application:
    name: catalog-service

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/catalog_db}
    username: ${SPRING_DATASOURCE_USERNAME:catalog_user}
    password: ${SPRING_DATASOURCE_PASSWORD:catalog_pass}
    driver-class-name: org.postgresql.Driver

  flyway:
    enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
